[submodule "srb2kart"]
	path = srb2kart
	url = ./srb2kart/
[submodule "translator"]
	path = translator
	url = ./translator/
[submodule "srb2kart/"]
	url = git@github.com:formulabun/srb2kart.git
[submodule "translator/"]
	url = git@github.com:formulabun/translator.git
